td,th
	{
	vertical-align: top;
	padding-bottom: 0.5em;
	}

th.horizontal
	{
	text-align:left
	}

.interactive
	{
	color:#000080
	}

.interactive:hover
	{
	color:#0000ff
	}

.interactive:active
	{
	color:#ff0000
	}
