body
	{
	font-size: 80%;
	}

p, td, th, h1, h2, h3, h4
	{
	font-family: Verdana, sans-serif;
	}

td,th
	{
	vertical-align: top;
	padding-bottom: 0.5em;
	}

th.horizontal
	{
	text-align:left
	}

.interactive
	{
	color:#000080
	}

.interactive:hover
	{
	color:#0000ff
	}

.interactive:focus
	{
	color:#ff0000
	font-weight:bold;
	}
